<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Test Environment" value="" />
    <add key="Global TimeOut" value="" />
    <add key="Global Attempts" value="" />
    <add key="Test Case Version" value="" />
    <add key="Automation Database" value="" />
    <add key="Automation Library Version" value="" />
    <add key="Application" value="" />
    <add key="Application Collection" value="" />
    <add key="Browser" value="" />
    <add key="Responsible Tester" value=""/>
    <add key="ALMURL" value="" />
    <add key="HOST_NAME" value=""/>
    <add key="TEST_LAB_MOUDLE_ID" value=""/>
    <add key="username" value="" />
    <add key="password" value="" />
    <add key="domain" value="" />
    <add key="project" value="" />
    <add key="Test Set Target Cycle" value=""/>
    <add key="Test Set Baseline" value=""/>
    <add key="Test Set Description" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>