<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Check the database key comment by Victor -->
    <add key="DBHost" value="***************************"/>
    <add key="DBPort" value="********"/>
    <add key="DBServiceName" value="********"/>
    <add key="DBUserId" value="*********"/>
    <add key="DBPassword" value="***********"/>

    <!-- added by Victor -->
    <add key="DBEnvDatabase" value ="*************"/>
    <add key="DBTestCaseDatabase" value ="*****************"/>

    <add key="NetworkPath" value ="***********************"/>

    <!-- ALM Connection Settings-->
    <add key="ALMusername" value="********************" />
    <add key="ALMpassword" value="*****" />
    <add key="ALMdomain" value="****************" />
    <add key="ALMproject" value="*****************" />
    <add key="ALMURL" value="************************" />

    <add key="passwordEncrypted" value="************" />

    <!-- added by Victor -->
    <add key="HOST_NAME" value="****************************"/>
    <add key="TEST_LAB_MOUDLE_ID" value="***************"/>
    <add key="Test Set Target Cycle" value="**************"/>
    <add key="Test Set Baseline" value="******************"/>
    <add key="Test Set Description" value="******************"/>

    <add key="Test Environment" value="*******************" />
    <add key="Global TimeOut" value="*******************" />
    <add key="Global Attempts" value="*******************" />
    <add key="Test Case Version" value="*******************" />
    <add key="Automation Database" value="*******************" />
    <add key="Automation Library Version" value="*******************" />
    <add key="Application" value="*******************" />
    <add key="Application Collection" value="*******************" />
    <add key="Browser" value="*******************" />
    <add key="Build Number" value="*******************" />
    <add key="Responsible Tester" value="*******************"/>

    <!-- Keychain info-->
    <add key="KeychainAccountsFilePath" value="*******************"/>

  </appSettings>
</configuration>