<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Indicates where to get the data that we want. Can be DB or CSV-->
    <add key="ENV_LOCATION" value="CSV" />

    <!--Environments list if ENV_LOCATION is CSV-->
    <add key="ENVIRONMENTS_LIST_TABLE" value="environment_list.csv" />

    <add key="ORG_NAME" value="*****" />

    <!--For UFT@ontario.ca automated test emails-->
    <add key ="EMAIL_SENDER" value = "test@dummy.ca"/>

    <!-- This user must be a name with a DevOps account-->
    <add key ="DefaultTesterName" value = "QA Tester"/>
    <add key ="DefaultTesterEmail" value ="qa_tester@test.ca"/>

    <!--Emails list indicates the users that emails should be sent to-->
    <add key ="EMAILS_LIST" value =""/>

    <add key="MJ_APIKEY_PUBLIC" value="**********************" />
    <add key="MJ_APIKEY_PRIVATE" value="**********************" />

    <!-- Parameters -->
    <add key="passwordEncrypted" value ="false"/>
    <add key="WarningThreshold" value="120" />

    <!-- The timeoutthreshold is used when one doesn't exist in ALM. For instance, for Excel-->
    <add key="TimeOutThreshold" value="30" />

    <add key="ExcelLocalTimeout" value="20" />
    <add key="ExcelLocalAttempts" value="3" />

    <!--Added by Victor-->
    <add key="delimeter" value="," />

    <!--Maximum number of consecutive failed test cases allowed-->
    <add key="MaxConsecutiveFailedTestCases" value="3" />

    <!--Set the PAT for authenticating into DevOps-->
    <add key="DevOpsPAT" value="*********************************************" />

    <!--This parameter indicates whether to create a smoke or regression folder in devops-->
    <add key="CREATE_SMOKE_REGRESSION_FOLDER" value="false"/>

    <!-- Data_Collections-->
    <add key="XPATH_IGNORE_LIST" value="innerText,innerHTML,outerText,outerHTML" />
    <add key="WebEdit_HTMLTags" value="input,textarea" />
    <add key="WebButton_HTMLTags" value="input,button" />
    <add key="WebRadioGroup_HTMLTags" value="input,select" />
    <add key="WebCheckBox_HTMLTags" value="input,select" />
    <add key="Links_HTMLTags" value="a,div,span" />
    <add key="Image_HTMLTags" value="img" />
    <add key="WebElement_HTMLTag" value="*" />
    <add key="WebTable_HTMLTag" value="table" />
    <add key="Frames_HTMLTag" value="iframe" />
    <add key="WebList_HTMLTag" value="select" />

    <!--possibly set this as true (Victor: I believe these two are incorrect and the following two are the ones actually used)-->

    <add key="RespectRunAodaFlag" value ="true"/>
    <!-- run AODA tests afterwards-->
    <add key="RespectRepeatFor" value ="true"/>

    <!-- Indicates whether to generate a HTML report-->
    <add key="GenerateHTMLReport" value ="true"/>

    <!--For mobile emulation testing-->
    <add key="ListTypeOfExecutions" value="mobile,tablet,desktop,extended-desktop,max"/>
    <add key="ExecutionType" value ="max"/>

    <!-- Special Elements -->
    <add key="LoadingSpinner" value="//*[@id='loadingspinner']" />
    <add key="ErrorContainer" value="//div[@class='alert alert-danger']" />

    <!--Location of the data file-->
    <add key="DATA_FILES_FOLDER" value ="collection_files"/>
    <add key="TEMPORARY_FILES_FOLDER" value="temporary_files"/>

    <add key="DebugMode" value="false"/>

    <!--Indicates whether to report results to DevOps-->
    <add key="ReportToDevOps" value="true"/>

    <add key="MaxLoops" value ="25"/>

    <!--Environment URLs added by Victor-->
    <add key="N/A" value="https://www.google.com"/>

    <!-- Actual Timeout is in minutes. -->
    <add key="ActualTimeOut" value="5"/>

    <!-- Wait amount in milliseconds between attempts. -->
    <add key="WAITAMT" value="500"/>

    <!-- Set whether to run in incog mode or not. -->
    <add key="INCOGMODE" value="true"/>

    <!-- Enable headless or not headless mode. -->
    <add key="HEADLESS_MODE" value="false"/>

    <!-- Whether we are going to use the current test suite or create a new test set. -->
    <add key="CREATE_NEW_TEST_SUITE" value="false"/>

    <!-- Set for the time in ms to wait between button clicks. -->
    <add key="CLICK_BUTTON_WAIT_TIME" value="3500"/>

    <!-- Database Connection Strings-->

    <!-- Check the database key comment by Victor -->
    <add key="DBHost" value="***********************a"/>
    <add key="DBPort" value="***********************"/>
    <add key="DBServiceName" value="***********************"/>
    <add key="DBUserId" value="***********************"/>
    <add key="DBPassword" value="***********************"/>

    <!-- added by Victor -->
    <add key="DBEnvDatabase" value ="***********************"/>
    <add key="DBTestCaseDatabase" value ="***********************"/>

    <add key="NetworkPath" value ="***********************"/>

    <!-- ALM Connection Settings-->
    <add key="ALMusername" value="***********************" />
    <add key="ALMpassword" value="***********************" />
    <add key="ALMdomain" value="***********************" />
    <add key="ALMproject" value="***********************" />
    <add key="ALMURL" value="***********************" />

    <add key="passwordEncrypted" value="false" />

    <!-- added by Victor -->
    <add key="HOST_NAME" value="***********************"/>
    <add key="TEST_LAB_MOUDLE_ID" value="***********************"/>
    <add key="Test Set Target Cycle" value="CY_ASSIGN_RCYC"/>
    <add key="Test Set Baseline" value="CY_PINNED_BASELINE"/>
    <add key="Test Set Description" value="CY_COMMENT"/>

    <add key="Test Environment" value="CY_USER_01" />
    <add key="Global TimeOut" value="CY_USER_02" />
    <add key="Global Attempts" value="CY_USER_03" />
    <add key="Test Case Version" value="CY_USER_04" />
    <add key="Automation Database" value="CY_USER_05" />
    <add key="Automation Library Version" value="CY_USER_06" />
    <add key="Application" value="CY_USER_07" />
    <add key="Application Collection" value="CY_USER_08" />
    <add key="Browser" value="CY_USER_09" />
    <add key="Build Number" value="CY_USER_11" />
    <add key="Responsible Tester" value="TC_TESTER_NAME"/>

    <!-- Keychain accounts list info-->
    <add key="KeychainAccountsFilePath" value="***********************"/>

  </appSettings>
</configuration>