<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Parameters -->
    <add key="Browser" value="Chrome"/>
    <add key="csvSaveFileLocation" value="./Log"/>
    <add key="passwordEncrypted" value ="false"/>
    <add key="warningThreshold" value="5" />
    <add key="timeOutThreshold" value="10" />
    <add key="IEEnableNativeEvents" value="False" />
    <add key="delimeter" value="," />

    <!-- Data_Collections-->
    <add key="XPATH_IGNORE_LIST" value="innerText,innerHTML,outerText,outerHTML" />
    <add key="WebEdit_HTMLTags" value="input,textarea" />
    <add key="WebButton_HTMLTags" value="input,button" />
    <add key="WebRadioGroup_HTMLTags" value="input" />
    <add key="WebCheckBox_HTMLTags" value="input" />
    <add key="Links_HTMLTags" value="a,div" />
    <add key="Image_HTMLTags" value="img" />
    <add key="WebElement_HTMLTag" value="*" />
    <add key="WebTable_HTMLTag" value="table" />
    <add key="Frames_HTMLTag" value="iframe" />
    <add key="WebList_HTMLTag" value="select" />
    
    <add key="runAODAAfterTestCase" value ="false"/>
    <add key="runAODAAfterTestStep" value ="false"/>
    
    <!-- Special Elements -->
    <add key="LoadingSpinner" value="//*[@id='loadingspinner']" />
    <add key="ErrorContainer" value="//div[@class='alert alert-danger']" />

    <!--               Selenium WebDriver Parameters                          -->

    <!-- Actual Timeout is in minutes. -->
    <add key="ActualTimeOut" value="5"/>

    <!-- IE Driver -->
    <add key="IEEnableNativeEvents" value="False" />

    <!--               Selenium WebDriver Parameters                          -->
    
    <!-- Database Connection Strings-->
    <add key="DBHost" value="dummyaddress.com"/>
    <add key="DBPort" value="1234"/>
    <add key="DBServiceName" value="NAME"/>
    <add key="DBUserId" value="username"/>
    <add key="DBPassword" value="password"/>
    <add key="DBEnvDatabase" value =""/>
    <add key="DBTestCaseDatabase" value =""/>
    
    <!-- ALM Connection Settings-->
    <add key="ALMusername" value="" />
    <add key="ALMpassword" value="" />
    <add key="ALMdomain" value="" />
    <add key="ALMproject" value="" />
    <add key="ALMURL" value="" />
    <add key="Test Environment" value="" />
    <add key="Global TimeOut" value="" />
    <add key="Global Attempts" value="" />
    <add key="Test Case Version" value="" />
    <add key="Automation Database" value="" />
    <add key="Automation Library Version" value="" />
    <add key="Application" value="" />
    <add key="Application Collection" value="" />
    <add key="Browser" value="" />
    <add key="Responsible Tester" value=""/>
    <add key="HOST_NAME" value=""/>
    <add key="TEST_LAB_MOUDLE_ID" value=""/>
    <add key="Test Set Target Cycle" value=""/>
    <add key="Test Set Baseline" value=""/>
    <add key="Test Set Description" value=""/>
    
    <!-- Keychain info-->
    <add key="KeychainAccountsFilePath" value="Path"/>

  </appSettings>
</configuration>