<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Parameters -->
    <add key="WarningThreshold" value="120" />
    <add key="TimeOutThreshold" value="240" />
    <add key="IEEnableNativeEvents" value="False" />
    <add key="delimeter" value="," />

    <!-- Data_Collections-->
    <add key="XPATH_IGNORE_LIST" value="innerText,innerHTML,outerText,outerHTML" />
    <add key="WebEdit_HTMLTags" value="input,textarea" />
    
    <!-- Special Elements -->
    <add key="LoadingSpinner" value="//*[@id='loadingspinner']" />
    <add key="ErrorContainer" value="//div[@class='alert alert-danger']" />

    <!--               Selenium WebDriver Parameters                          -->

    <!-- Actual Timeout is in minutes. -->
    <add key="ActualTimeOut" value="5"/>

    <!-- IE Driver -->
    <add key="IEEnableNativeEvents" value="False" />

    <!--               Selenium WebDriver Parameters                          -->
    
    <!-- Database Connection Strings-->
    <add key="DBHost" value="dummyaddress.com"/>
    <add key="DBPort" value="1234"/>
    <add key="DBServiceName" value="NAME"/>
    <add key="DBUserId" 
         value="username"/>
    <add key="DBPassword" value="password"/>
    <add key="DBEnvDatabase" value ="QA_AUTOMATION.DEV_TEST_ENVIRONMENTS"/>
    <add key="DBTestCaseDatabase" value ="QA_AUTOMATION.DEV_TESTCASE"/>
    
    <!-- Keychain info-->
    <add key="KeychainAccountsFilePath" value="Path"/>

  </appSettings>
</configuration>