<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Parameters -->
    <add key="WarningThreshold" value="120" />
    <add key="TimeOutThreshold" value="240" />
    <add key="IEEnableNativeEvents" value="False" />
    <add key="delimeter" value="," />

    <!-- Special Elements -->
    <add key="LoadingSpinner" value="//*[@id='loadingspinner']" />
    <add key="ErrorContainer" value="//div[@class='alert alert-danger']" />

    <!--               Selenium WebDriver Parameters                          -->

    <!-- Actual Timeout is in minutes. -->
    <add key="ActualTimeOut" value="5"/>

    <!-- IE Driver -->
    <add key="IEEnableNativeEvents" value="False" />

    <!--               Selenium WebDriver Parameters                          -->

  </appSettings>
</configuration>